* {
	margin: 0;
	padding: 0;
}

/*Nav Section*/
nav {
	background-color: yellow;
	height: 35px;
}

nav h1 {
	color: #000000;
	text-align: center;
	padding-top: 5px;
}

nav h1 span {
	color: #FF0000;
}
/*Date Time Style Section*/
.dateTime {
	background-color: #000000;
	width: auto;
	height: 100px;

}
/*JavaScipt Date Time Text*/
#js-dateTime {
	color: #ffffff;
    font-family: courier, monospace;
    font-size: 30px;
    height: 50px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

/*Task Section*/
.task{
	float: right;
	background-color: #000000;
	color: #ffffff;
	height: auto;

}
li {
	text-align:left;
	font-size:20px;
}